
<% @articles.each do |art| %>

  <p>
    <b><%= link_to art.title, article_path(art)%></b>
  </p>


  <p>
    <%= art.text %>
  </p>
  <p>
    <%= art.created_at.strftime("%Y-%m-%d")%> |

    <%= link_to "Comments: #{art.comments.length}", article_path(art)%>
  </p>
  <hr />

<% end%>
